body {
    font-family: 'Poppins', sans-serif;
    color: #2e001d;
    background: #fff;
    margin: 0px;
    padding: 0px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding: 0px 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.border-none {
    border: 0px !important;
}
a {
    color: #4942E4;
}
section {
    padding-bottom: 60px;
}
.white-text {
    color: #fff !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
.container-fluid,
.container {
    padding: 0px 15px;
}
.height-auto {
    height: auto !important;
}
.btn-primary {
    background: #4942E4;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 30px;
    display: inline-block;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    border: 0px;
    position: relative;
}
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active {
    transform: translateY(-10px);
    color: #fff;
    text-decoration: none;
    background: #4942E4;
}
.btn-primary:hover::before {
    left: 120%;
    opacity: 0.5;
}
.btn-primary:hover::after {
    left: 200%;
    opacity: 0.6;
}
.btn-transparent {
    background: #fff;
    font-size: 16px;
    font-weight: medium;
    border: 1px solid #c4c4c4;
    line-height: 21px;
    padding: 15px 20px;
    background-size: 250% auto;
    transition: 0.5s;
    border-radius: 4px;
    color: #292a36;
}
.btn-transparent:hover {
    background-position: right center;
}
.secoundary-btn {
    background: #76fad5;
    font-size: 20px;
    font-weight: medium;
    line-height: 21px;
    padding: 15px 20px;
    background-size: 250% auto;
    transition: 0.5s;
    border: 0px;
    border-radius: 4px;
    color: #292a36;
}
.top-0 {
    top: 0px !important;
}
.top-10 {
    top: 10px !important;
}
.top-20 {
    top: 20px !important;
}
.top-30 {
    top: 30px !important;
}
.top-40 {
    top: 40px !important;
}
.top-50 {
    top: 50px !important;
}
.top-60 {
    top: 6px !important;
}
.no-margin {
    margin: 0px !important;
}
.no-padding {
    padding: 0px !important;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-25 {
    margin-top: 25px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-top-35 {
    margin-top: 35px !important;
}
.margin-top-40 {
    margin-top: 40px !important;
}
.margin-top-45 {
    margin-top: 45px !important;
}
.margin-top-50 {
    margin-top: 50px !important;
}
.margin-right-0 {
    margin-right: 0px !important;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-right-25 {
    margin-right: 25px !important;
}
.margin-right-30 {
    margin-right: 30px !important;
}
.margin-right-35 {
    margin-right: 35px !important;
}
.margin-right-40 {
    margin-right: 40px !important;
}
.margin-right-45 {
    margin-right: 45px !important;
}
.margin-right-50 {
    margin-right: 50px !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-left-25 {
    margin-left: 25px !important;
}
.margin-left-30 {
    margin-left: 30px !important;
}
.margin-left-35 {
    margin-left: 35px !important;
}
.margin-left-40 {
    margin-left: 40px !important;
}
.margin-left-45 {
    margin-left: 45px !important;
}
.margin-left-50 {
    margin-left: 50px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-25 {
    margin-bottom: 25px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-35 {
    margin-bottom: 35px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-bottom-45 {
    margin-bottom: 45px !important;
}
.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.padding-top-0 {
    padding-top: 0px !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-25 {
    padding-top: 25px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-35 {
    padding-top: 35px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-top-45 {
    padding-top: 45px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}

.padding-right-0 {
    padding-right: 0px !important;
}
.padding-right-5 {
    padding-right: 5px !important;
}
.padding-right-10 {
    padding-right: 10px !important;
}
.padding-right-15 {
    padding-right: 15px !important;
}
.padding-right-20 {
    padding-right: 20px !important;
}
.padding-right-25 {
    padding-right: 25px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}
.padding-right-35 {
    padding-right: 35px !important;
}
.padding-right-40 {
    padding-right: 40px !important;
}
.padding-right-45 {
    padding-right: 45px !important;
}
.padding-right-50 {
    padding-right: 50px !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.padding-bottom-25 {
    padding-bottom: 25px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-bottom-35 {
    padding-bottom: 35px !important;
}
.padding-bottom-40 {
    padding-bottom: 40px !important;
}
.padding-bottom-45 {
    padding-bottom: 45px !important;
}
.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-20 {
    padding-left: 20px !important;
}
.padding-left-25 {
    padding-left: 25px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}
.padding-left-35 {
    padding-left: 35px !important;
}
.padding-left-40 {
    padding-left: 40px !important;
}
.padding-left-45 {
    padding-left: 45px !important;
}
.padding-left-50 {
    padding-left: 50px !important;
}
.title-main h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}
.title-main h3 span {
    font-weight: 300;
}
.title-main p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* Header css starts */
/* ------------------ */

header {
    position: fixed !important;
    top: 0px;
    height: 80px;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 15px 0px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
header.stick {
    height: 70px;
    text-align: left;
    padding: 10px 0 !Important;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    background: #fff;
    box-shadow: 0px 30px 40px rgb(250 25 167 / 9%);
    z-index: 99;
}
header .navbar {
    padding: 0px;
    background: #fff;
}
header .main-logo {
    padding: 0px;
    margin: 0px;
}
.header nav.navbar {
    padding: 10px 0px;
}
.header .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #000;
    transition: all 0.3s;
    padding: 0px 10px;
    position: relative;
}
.header .navbar-nav .nav-item .nav-link:hover,
.header-right-panel .apply-text:hover,
.header .navbar-nav .nav-item.active .nav-link {
    color: #1b00ff;
}
header .navbar .navbar-collapse {
    background: #fff;
}
header .navbar-expand-lg .navbar-nav li a.nav-link.active:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #4942E4;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
}
.header .navbar-nav .nav-item {
    padding: 0px 5px;
}
.header-right-panel .apply-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    transition: all 0.3s;
    margin-right: 15px;
}
.header-right-panel {
    display: flex;
    align-items: center;
}
.logo-main {
    padding: 0px;
    margin: 0px;
}
.header-right-panel .btn-primary {
    font-size: 16px;
    padding: 10px 20px;
}
header .navbar-expand-lg .navbar-nav li a.nav-link {
    padding: 0px;
    position: relative;
    font-size: 16px;
    color: #2e001d;
    font-weight: 400;
    padding-bottom: 10px;
    transition: all 0.3s;
}
header .navbar-expand-lg .navbar-nav li a.nav-link:hover {
    color: #4942E4;
}
header .navbar-nav li {
    position: relative;
}
header .navbar-nav li.nav-item {
    margin: 0px 12px;
}
.header-search-panel input[type="text"] {
    height: 40px;
    font-size: 14px;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding: 0px 15px;
    padding-right: 60px;
    background: none;
    transition: width 1s cubic-bezier(0, 0.795, 0, 1);
    cursor: pointer;
    border-radius: 4px;
}
header .navbar .navbar-toggler {
    border: 0px;
    background: #4942E4;
    padding: 4px 8px;
    border-radius: 3px;
}
header .navbar .navbar-toggler:focus {
    outline: none;
    border: 0px;
}

.header-search-panel input[type="submit"] {
    height: 22px;
    width: 22px;
    display: inline-block;
    background: url(../images/icons/ic-search.svg) no-repeat center;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: opacity 1s ease;
    width: 40px;
    height: 40px;
    background-color: #fff8fe;
    border-radius: 10px;
}
.header-search-panel input[type="submit"]:hover {
    opacity: 0.8;
}
header .navbar .navbar-collapse {
    position: relative;
}
.header-search-panel {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
}
header .navbar .navbar-collapse .navbar-nav {
    padding-right: 80px;
}
/* Header css ends */
/* ------------------ */

/* home banner css starts */
/* ------------------ */
.home-banner {
    margin-top: 80px;
}
.home-banner-slider .item figure {
    margin: 0px;
}
.home-banner-slider .item figure .list-promotion-actions a {
    margin: 0px;
    margin-right: 15px;
    display: none;
}
.home-banner-slider .item figure a img {
    width: 100%;
}
.home-banner-slider .item figure .list-promotion-actions {
    right: 35%;
    left: inherit;
    display: flex;
    bottom: 25%;
}

/* Deal list css starts */
/* ------------------ */

.deal-list {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
}
.deal-list.three-items li {
    width: 33.33%;
}
.deal-list li {
    padding: 20px 10px 5px;
    list-style: none;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    border: 1px solid #eaeaea;
    box-shadow: 0px 4px 60px rgba(148, 148, 148, 0.35);
}
.deal-list li figure {
    position: relative;
}

.deal-list li a figure:hover:before {
    width: 0;
}
.deal-list li a figure:hover:after {
    height: 0;
}
.deal-list li a figure:hover:before,
.deal-list li a figure:hover:after {
    background-color: rgba(255, 255, 255, 0.3);
}
.deal-list li a {
    display: inline-block;
    width: 100%;
    position: relative;
    background: #fbfbfb;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.deal-list li a:hover {
    text-decoration: none;
}
.deal-list li a figure {
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    height: 220px;
    flex-direction: column;
    align-items: center;
}
.deal-list li a figure > img {
    /* width: auto !important;
    height: 170px; */
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}
.deal-list-slider .deal-box figure img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
}
.deal-bacth {
    position: absolute;
    top: 15px;
    left: 15px;
}
.deal-bacth img {
    max-width: 35px !important;
}
.deal-list li a .deal-box-content {
    padding: 15px;
}
.deal-list li a .deal-box-content span {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: block;
    color: #2e001d;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.deal-list li a .deal-box-content strong {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #2e001d;
    display: block;
    margin-top: 10px;
    min-height: 23px;
}
.newsletter-inner-sec {
    width: 100%;
    border-radius: 10px;
    padding: 50px 100px;
    text-align: center;
    background: #4942E4;
    background-size: cover;
}
.newsletter-form-sec {
    width: 100%;
    margin-top: 40px;
}

.newsletter-form-sec input {
    height: 50px;
    border-radius: 6px;
    border: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 15px;
}
.newsletter-form-sec .white-btn {
    display: inline-block;
    background: #fff;
    color: #4942E4;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding: 0 !important;
    line-height: 24px;
    min-width: 170px;
    letter-spacing: 0em;
}
.newsletter-inner {
    display: flex;
    column-gap: 10px;
}
.newsletter-inner-sec .title-main h3 {
    margin-top: 0;
}
.view-all-listing .btn-primary {
    position: relative;
    z-index: 9;
}
.element {
    background-color: #fff8fe;
    height: 0;
    margin-top: 3.5%;
    padding-bottom: 25%;
    position: absolute;
    transform: skew(0deg, -7.5deg);
    width: 100%;
    z-index: -2;
}
.deal-list .owl-nav {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 0px !important;
}
.deal-list.owl-carousel .owl-nav button {
    background: url(../images/icons/ic-arrow-left.svg) no-repeat center !important;
    width: 50px;
    height: 50px;
    margin: 0px;
    text-align: center;
    line-height: 50px !important;
    border-radius: 50px;
    border: 0px;
    transition: all 0.3s ease;
    margin: 0px 100px;
}
.deal-list.owl-carousel .owl-nav button:focus {
    outline: none;
    border: 0px;
}
.deal-list.owl-carousel .owl-nav button.owl-next {
    transform: rotate(180deg);
}

.deal-list.owl-carousel .owl-nav button span {
    display: none;
}

.product-list-tabs ul.nav-tabs {
    border: 0px;
    flex-direction: column;
}
.product-list-tabs ul.nav-tabs li {
    margin-bottom: 15px;
}
.product-list-tabs ul.nav-tabs li a {
    padding: 20px;
    border: 0px;
    background: #fbfbfb;
    border-radius: 10px;
    font-size: 18px;
    position: relative;
    color: #2e001d;
}
.product-list-tabs ul.nav-tabs li a.active {
    background: #4942E4;
    color: #fff;
    border: 0px;
}
.product-list-tabs ul.nav-tabs li a.active:after {
    position: absolute;
    content: "";
    background: #4942E4;
    filter: blur(30px);
    /* border-radius: 10px; */
    width: 100px;
    height: 20px;
    bottom: -1px;
    width: 170px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.list-promotion-box {
    position: relative;
}
.list-promotion-actions {
    position: absolute;
    bottom: 15px;
    left: 30px;
}
.list-promotion-actions a {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.list-promotion-actions a img {
    width: 115px;
}

.custom-pagination {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}
.custom-pagination nav {
    display: inline-block;
    float: none;
}
.custom-pagination .pagination {
    margin: 0px;
    flex-wrap: wrap;
    align-items: center;
}
.custom-pagination .pagination li .arrow-page {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    border-radius: 50px;
    border: 0px;
    text-align: center;
    padding: 0px;
    line-height: 40px;
}
.custom-pagination .pagination li .page-link {
    border: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
    color: #6c6c6c;
    margin: 0px 7px;
    font-size: 15px;
    line-height: 30px;
    padding: 0px;
    transition: all 0.3s;
}
.custom-pagination .pagination li .page-link:hover {
    background-color: #f65158;
    color: #fff;
}
.custom-pagination .pagination li .arrow-page:hover {
    background-color: #f5f5f5;
}
.custom-pagination .pagination li.active .page-link {
    background: #4942E4;
    color: #fff;
}
.custom-pagination .pagination li:first-child a img {
    max-width: 20px;
}
.custom-pagination .pagination li:last-child a img {
    max-width: 20px;
}
.main-wrapper {
    width: 100%;
    padding-bottom: 50px;
    margin-top: 80px;
}
.product-detail-left {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.product-detail-left figure {
    margin: 0px;
}
.product-detail-left figure img {
    width: 100%;
}
.detail-top-social {
    display: flex;
    justify-content: flex-end;
}
.detail-top-social ul {
    padding: 0px;
    margin: 0px;
    display: flex;
}
.detail-top-social ul li {
    list-style: none;
    margin-right: 20px;
}
.detail-top-social ul li:last-child {
    margin-right: 0px;
}
.product-detail-top-info {
    display: block;
    margin-top: 10px;
}
.product-detail-top-info .title-detail {
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 20px;
}
.product-detail-top-info .product-label {
    color: #4942E4;
    display: block;
    font-size: 18px;
    font-weight: 500;
}
.product-detail-top-info .product-date {
    display: block;
    color: #2e001d;
    font-size: 18px;
}
.product-detail-price-share {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    align-items: center;
}
.product-detail-price-share strong {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.product-detail-price-share .btn-primary {
    margin-right: 30px;
}
.product-detail-price-share .custom-share-social {
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    background: #fff8fe;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.newsletter-inner-sec.product-detail-newsletter {
    padding: 30px;
}
.newsletter-inner-sec.product-detail-newsletter h3 {
    font-size: 28px;
}
.newsletter-inner-sec.product-detail-newsletter .title-main p {
    font-size: 18px;
}
.newsletter-inner-sec.product-detail-newsletter .newsletter-form-sec {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}
.newsletter-inner-sec.product-detail-newsletter
    .newsletter-form-sec
    .form-control {
    width: 60%;
}
.newsletter-inner-sec.product-detail-newsletter
    .newsletter-form-sec
    .btn-primary {
    width: 175px;
    margin: 0px;
    padding: 15px 0px;
    height: 50px;
    padding: 0px;
    line-height: 50px;
}
.newsletter-inner-sec.product-detail-newsletter
    .newsletter-form-sec
    label.error {
    bottom: -20px;
    font-size: 14px;
    margin: 0px;
}
.product-desc {
    width: 100%;
    margin-top: 30px;
}
.product-desc p {
    font-size: 20px;
    line-height: 170%;
    color: #6c6c6c;
    display: block;
}
.coupon-time-validity {
    background: rgb(236 236 236 / 41%);
    border-radius: 10px;
    padding: 20px;
    display: block;
    margin: 40px 0px;
    font-size: 18px;
    color: #6c6c6c;
}
.product-detail-right-promo{
    position: relative;
}
.product-detail-right-promo .list-promotion-actions {
    display: flex;
    bottom: 20px;
    left: 40px;
}
.product-detail-right-promo .list-promotion-actions a {
    margin-right: 15px;
}
.product-detail-right-promo figure > img {
    width: 100%;
}
.product-detail-right-promo figure {
    margin: 0px;
}
.blog-list-box {
    width: 100%;
    margin-bottom: 40px;
    display: inline-block;
}
.blog-list-box figure {
    height: 220px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
.blog-list-box figure img {
    width: auto;
    height: 220px;
}
.blog-list-box h3 {
    margin-top: 20px;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    display: block;
    margin-bottom: 10px;
}
.blog-list-box span {
    display: block;
    margin: 20px 0px 15px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #6c6c6c;
}
.blog-list-box span strong {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #828282;
}
.btn-text {
    color: #f65158;
    font-size: 16px;
    font-weight: medium;
    line-height: 21px;
    transition: all 0.3s;
    font-weight: 500;
}
.blog-list-box p {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 600;
    line-height: 170%;
}
.blog-detail-slider li.item {
    list-style: none;
}
.blog-detail-slider li.item figure img {
    border-radius: 10px;
}
.blog-detail-slider li.item figure {
    margin: 0px;
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
}
.blog-detail-slider li.item figure img {
    border-radius: 10px;
    max-height: 600px;
    width: auto;
    margin: 0 auto;
    height: auto;
}
.blog-detail-top-box {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff8fe;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10%;
    margin-bottom: 50px;
}
.blog-detail-top-box h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: center;
}
.blog-detail-top-box span {
    display: block;
    font-size: 18px;
    margin-top: 24px;
}
.blog-detail-top-info p {
    font-size: 20px;
    color: #6c6c6c;
    line-height: 170%;
    display: block;
}
.blog-detail-slider:before {
    position: absolute;
    content: "";
    width: 244px;
    height: 313px;
    background: url(../images/newsletter-before.svg);
    top: -80px;

    right: -80px;
}
/* .blog-detail-slider:after{
    position: absolute;
    content: '';
    width: 244px;
    height: 313px;
    background: url(../images/newsletter-before.svg);
    bottom: -80px;
     
    left: -80px;
} */
.blog-detail-slider {
    padding: 0px;
}

.accordion > .card {
    margin: 0px;
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid #f5f5f5 !important;
}
.accordion > .card:last-child {
    border: 0px !important;
}
.accordion > .card .card-body {
    padding: 15px 0px;
    padding-top: 0px;
    font-size: 18px;
    color: #6c6c6c;
    line-height: 170%;
}
.accordion > .card .card-header {
    padding: 0px;
    background: transparent;
    border: 0px;
}
.accordion > .card .card-header button {
    width: 100%;
    text-align: left;
    padding: 0px;
    padding: 20px 0px;
    border: 0px;
    background: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    color: #2e001d;
}
.accordion > .card .card-header button:hover,
.accordion > .card .card-header button:focus {
    text-decoration: none;
}
.accordion > .card .card-header button .accordian-drop {
    position: absolute;
    right: 24px;
    top: 20px;
    z-index: 99;
    width: 24px;
    height: 24px;
    background: url(../images/icons/ic-faq-plus-minus.svg);
}
.accordion > .card .card-header button[aria-expanded="false"] .accordian-drop {
    background: url(../images/icons/ic-faq-plus-minus.svg);
    background-position: right;
}
.follow-us-sec {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 150px;
}
.we-social-links ul {
    padding: 0px;
}
.we-social-box {
    width: 860px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.we-social-title {
    width: 100%;
    background: #000;
    padding: 40px;
    border-radius: 10px 10px 0px 0px;
}
.we-social-links {
    width: 100%;
    background: #fe13a6;
    border-radius: 0px 0px 10px 10px;
}
.we-social-links ul {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px;
    margin: 0px;
}
.we-social-links ul li {
    list-style: none;
    margin: 0px 20px;
}
.we-social-links ul li a img {
    width: 100%;
}
.we-social-box:before {
    position: absolute;
    content: "";
    width: 244px;
    height: 313px;
    background: url(../images/newsletter-before.svg);
    top: -80px;
    z-index: -1;
    right: -80px;
}
.we-social-box:after {
    position: absolute;
    content: "";
    width: 244px;
    height: 313px;
    background: url(../images/newsletter-before.svg);
    bottom: -80px;
    z-index: -1;
    left: -80px;
}

footer {
    background: #2e001d;
    padding: 60px 0px;
}
.footer-block span {
    color: #fff9;
}
.footer-links,
.footer-social {
    padding: 0px;
    margin: 0px;
    margin-top: 60px;
}
.footer-links li {
    list-style: none;
    margin-bottom: 15px;
}
.footer-links li a {
    color: #fff9;
    transition: all 0.3s;
}
.footer-links li a:hover {
    color: #4942E4;
    text-decoration: none;
}
.footer-social {
    display: flex;
}
.footer-social li {
    margin-right: 20px;
}
.footer-social li:last-child {
    margin-right: 0px;
}
.copyright {
    width: 100%;
    display: inline-block;
    border-top: 1px solid rgb(254 255 255 / 10%);
    padding: 15px 0px;
    text-align: center;
    color: rgb(254 255 255 / 60%);
    background: #2e001d;
}
.blog-sec {
    padding-bottom: 0px;
}
.terns-content h4 {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
.terns-content {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
.terns-content p {
    color: #6c6c6c;
    font-size: 18px;
    line-height: 160%;
}
.image-static-data {
    width: 100%;
    display: block;
    margin-bottom: 40px;
}
.image-static-data p {
    margin: 0px;
    font-size: 18px;
    color: #6c6c6c;
    line-height: 170%;
}
.image-static-data img {
    border-radius: 6px;
    width: 100%;
}
.blog-detail-slider.owl-carousel .owl-nav button {
    background: url(../images/icons/ic-arrow-white-left.svg) no-repeat center !important;
    width: 50px;
    height: 50px;
    margin: 0px;
    text-align: center;
    line-height: 50px !important;
    border-radius: 50px;
    border: 0px;
    transition: all 0.3s ease;
    background-color: #4942E4 !important;
}
.blog-detail-slider.owl-carousel .owl-nav button span {
    display: none;
}
.blog-detail-slider .owl-nav {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 0px !important;
    top: 200px;
}
.blog-detail-slider.owl-carousel .owl-nav button.owl-next {
    transform: rotate(180deg);
    right: 15px;
    position: absolute;
}
.blog-detail-slider.owl-carousel .owl-nav button.owl-prev {
    left: 15px;
    position: absolute;
}
.item.download-slide {
    height: 100%;
    min-height: 600px;
    position: relative;
    max-height: 600px;
}
.item.download-slide .download-slide-left {
    width: 40%;
    position: relative;
    top: 60px;
}
.item.download-slide .download-slide-right {
    width: 60%;
    position: relative;
    padding-left: 100px;
    top: 60px;
}
.item.download-slide:after {
    content: "";
    background-color: #fff;
    height: 140px;
    bottom: 0px;
    position: absolute;
    transform: skew(0deg, -6.5deg);
    width: 100%;
    z-index: 9;
}
.item.download-slide .download-slide-left img {
    width: auto;
}
.item.download-slide .download-slide-right span {
    color: #000;
    display: block;
    font-size: 20px;
}
.item.download-slide .download-slide-right h3 {
    text-transform: uppercase;
    font-size: 75px;
    display: block;
    line-height: 100%;
    margin: 10px 0px;
}
.home-slide-download-btn {
    display: flex;
    margin-top: 15px;
}
.home-slide-download-btn a {
    margin-right: 15px;
}
.home-slide-download-btn a img {
    max-width: 150px;
}
.home-banner-slider .owl-dots {
    margin-top: 20px !important;
}
.home-banner-slider .owl-dots .owl-dot:focus {
    outline: none;
}
.home-banner-slider .owl-dots .owl-dot.active span {
    background: #4942E4;
    border: 2px solid transparent;
}
.home-banner-slider .owl-dots .owl-dot span {
    background: #fff;
    border: 2px solid #4942E4;
    width: 15px;
    height: 15px;
}
.home-banner-slider .owl-dots .owl-dot:hover span {
    background: #fff;
}
.home-banner-slider .owl-dots .owl-dot.active:hover span {
    background: #4942E4;
}
.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.blog-detail-page {
    margin-top: 50px;
}
.blog-detail-top-info {
    position: relative;
}
.blog-detail-slider li.item figure .blog-detail-img-blog {
    width: 100%;
    text-align: center;
}
.blog-detail-slider li.item figure iframe {
    margin: 0 auto;
    height: 600px;
    width: 100%;
}

/* label.error {
    position:absolute;
    left:20000px;
    top:0;
}
input.error {
    border: 3px solid red;  
    font-weight: 300;  
    color: red;
} */

label span {
    font-size: 1rem;
}
label.error {
    color: white;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    position: absolute;
}
input.error {
    border: 3px solid red;
    font-weight: 300;
    color: red;
}

/*23/feb-2022*/
.home-banner-slider .owl-item a img {
    height: 600px;
    object-fit: cover;
}
.home-slide-download-btn a img {
    height: auto !important;
}
footer,
.copyright {
    position: relative;
    z-index: 1;
}
:root {
    --space: 1rem;
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2);
}
.product-detail-left {
    --offset: var(--space);
    flex-grow: 1;
    flex-basis: 300px;
    align-self: start;
    position: sticky;
    top: var(--offset);
    border: 1px solid #f5f5f5;
}
.product-detail-sec {
    margin-top: 40px;
}
.product-detail-sec {
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}
.page-link.disabled {
    border: 0px;
}

.newsletter-inner {
    display: flex;
}

.home-banner-slider .owl-nav {
    position: absolute;
    background: #fff;
    bottom: -17px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 60px rgba(148, 148, 148, 0.35);
    left: 50%;
    transform: translateX(-50%);
}
